@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    font-family: "Lato", "sans-serif";
  }
}

/*^ HIDES SCROLL BAR FROM THE SCREEN */
.hide-scrollbar::-webkit-scrollbar { /* for Chrome */
  display: none; 
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for EDGE & IE */
  scrollbar-width: none; /* for Firefox */
}